:root {
    --subheading-text: hsl(276, 100%, 81%);
    --left-chat: hsl(276, 55%, 52%);
    --right-chat: hsl(271, 15%, 43%);
    --placeholder-text: hsl(206, 6%, 79%);
    --main-heading: hsl(271, 36%, 24%);
    --paragraph: hsl(270, 7%, 64%);
    --white: hsl(0, 0%, 100%);
    --app-bg: hsl(270, 20%, 96%);
    --submit-btn: hsl(271, 36%, 24%);
    --radio-btn-outline: hsl(289, 100%, 72%);
    --gradient-magenta: hsl(293, 100%, 63%);
    --gradient-violet: hsl(264, 100%, 61%); 
    
    --ff-rubik: 'Rubik', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--ff-rubik);
    font-size: 1rem;
    width: 100vw;
    height: 100vh;
}

.container {
    position: relative;
}